.App-footer {
    background-color: #282c34;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-footer ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
}

.App-footer ul li {
    margin: 0 10px;
}